@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter.ttf') format('truetype');
}

body {
  font-family: 'Inter', 'Futura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 0.94em;
  font-weight: 400;
}

main {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: calc(100% - 40px);
  margin: auto;
  flex-wrap: wrap;
}

.header {
  display: flex;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  box-shadow: 0px 12px 24px -12px rgba(20, 20, 20, 0.2);
}

.header > img {
  height: 70px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.header-left {
  background-color: #ec1b24;
  height: 100%;
  width: 100%;
}

.header-right {
  background-color: #604734;
  height: 100%;
  width: 100%;
}

table {
  border-collapse: collapse;
}

td {
  padding: 2px;
}

.bold {
  font-weight: 700;
}

.outer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.inner-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100% - 60px);
  padding: 12px 10px 64px;
  width: calc(100% - 80px);
  display: flex;
  margin-top: 90px;
}

.box {
  background-color: #f1f1f1;
  max-width: 100%;
  min-width: 300px;
  margin: 0 24px 24px 24px;
  padding: 24px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 12px 24px -12px rgba(20, 20, 20, 0.2);
}

.box > h1 {
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 16px;
}

.box > h2 {
  font-weight: 700;
  max-width: 320px;
}

.team-labels {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-icon {
  width: 20px;
  height: auto;
}

.img-icon-big {
  width: 75px;
  height: auto;
  margin: 5px;
}

.date {
  margin-top: -10px;
  display: flex;
  justify-content: center;
}

#bl2NextGameMatchday {
  margin-bottom: 48px;
}

.stpauli-highlight {
  background-color: #ec1b24;
  border: none;
  font-weight: 700;
  color: #fff;
}

#github {
  position: absolute;
  bottom: 0;
  margin-bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.endscores{
  color: white;
  padding: 8px;
  background-color: red;
  display: inline;
  box-shadow: 1px 0 20px 0px rgba(0, 0, 0, 0.2);
    
    transition:transform 0.5s ;
}
