body {
	font-family: "Futura","Helvetica Neue",Helvetica,Arial,sans-serif;
	min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 0.94em;
}

main {
	display: flex;
    justify-content: center;
    padding: 10px 20px;
    width: calc(100% - 40px);
    margin: auto;
    flex-wrap: wrap;
}

.outer-wrapper {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

.inner-wrapper {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    min-height: calc(100% - 60px);
    padding: 20px 40px 40px;
    width: calc(100% - 80px);
    display: flex;
}

.box {
	background-color: #604734;
	max-width: 100%;
	min-width: 300px;
    margin: 5px;
    padding: 8px;
}

.team-labels {
	display: flex;
	justify-content: center;
	margin-top: auto;
	align-items: center;
}

.img-icon {
	width: 20px;
 	height: auto;
}

.img-icon-big {
	width: 50px;
 	height: auto;
}

.date {
	display: flex;
	justify-content: center;
}

#github {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 3px;
	padding-bottom: 3px;
}